:root {
  --blue: #039be5;
  --red: #ea736d;
  --yellow: #fbdc4d;
  --fr: "M PLUS 1p";
  --btnBg: #fbdc4d;
  --btnAct: #e1bc10;
  --btnHov: #ffd200;
  --underline: #fbdc4d;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.none {
  display: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  font-size: 18px;
  font-family: var(--fr);
  font-weight: 400;
}
a,
a:hover {
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
  border: 0px;
  padding: 0;
  background-color: transparent;
}
.noscroll {
  overflow: hidden;
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(44, 52, 73, 0.75);
  z-index: 3;
  display: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
#overlay.active {
  display: block;
}
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
.container-large {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 576px) {
  .container-large {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-large {
    max-width: 738px;
  }
}
@media (min-width: 992px) {
  .container-large {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-large {
    max-width: 1400px;
    padding: 0;
  }
}
.bottom-line {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.bottom-line::after {
  content: "";
  position: absolute;
  bottom: 13px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: var(--underline);
  z-index: -1;
}
.page-btn__cl {
  display: inline-block;
  font-style: var(--fr);
  color: #000000;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 22px;
  line-height: 64px;
  background-color: var(--btnBg);
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  font-weight: 700;
}
.page-btn__cl:hover {
  background-color: var(--btnHov);
}
.page-btn__cl:active,
.page-btn__cl :visited {
  background-color: var(--btnAct);
}
.page-btn__tr {
  display: inline-block;
  font-style: var(--fr);
  color: #4b4b4b;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 22px;
  font-weight: 700;
  line-height: 58px;
  background-color: #ffffff;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  border: 3px solid #4b4b4b;
}
.page-btn__tr:hover {
  border: 3px solid #797979;
  color: #797979;
}
.page-btn__tr:active {
  border: 3px solid #181818;
  color: #181818;
}
.animate-border {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.animate-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  height: 4px;
  background-color: var(--yellow);
  width: 0%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.animate-border:hover:after {
  width: 110%;
}
.animate-border:focus {
  border: 2px dotted red;
}
.row-reverse {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .row-reverse {
    max-width: 1140px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .row {
    max-width: 1140px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.brake-row {
  margin-bottom: 65px;
}
.bg-line {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/bg/header-bg-02.jpg");
  -moz-background-size: contain;
       background-size: contain;
  background-position: 0 0;
  background-repeat: repeat;
}
.section-title {
  color: #000000;
  font-weight: 800;
  text-align: center;
  font-size: 64px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: var(--underline);
  z-index: -1;
}
.link-grey {
  color: #96969d;
  font-size: 20px;
  font-weight: 500;
}
.link-email {
  display: inline-block;
  text-decoration: underline;
  color: #000000;
  text-shadow: 0 3px 42px #ffffff;
  font-size: 24px;
  font-weight: 400;
}
.link-email:hover {
  color: #35afea;
  text-decoration: underline;
}
.link-email:active {
  color: #ea655f;
}
.toggle-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 25px;
  cursor: pointer;
  z-index: 5;
}
.toggle-menu span {
  width: 100%;
  height: 5px;
  background-color: #000000;
  margin: auto;
  position: relative;
}
.toggle-menu span::after,
.toggle-menu span::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #000000;
  position: absolute;
  left: 0;
}
.toggle-menu span::after {
  top: -10px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: top 0.2s linear 0.2s, -o-transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -moz-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -moz-transform 0.2s ease-in, -o-transform 0.2s ease-in;
}
.toggle-menu span::before {
  bottom: -10px;
  -webkit-transition: bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: bottom 0.2s linear 0.2s, -o-transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in, bottom 0.2s linear 0.2s, -moz-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, bottom 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -moz-transform 0.2s ease-in, -o-transform 0.2s ease-in;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::after {
  top: 0px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, -o-transform 0.2s ease-in 0.2s;
  -moz-transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s, -o-transform 0.2s ease-in 0.2s;
}
.toggle-menu.active span::before {
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: bottom 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: bottom 0.2s linear, -o-transform 0.2s ease-in 0.2s;
  -moz-transition: bottom 0.2s linear, transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s;
  transition: bottom 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: bottom 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s, -o-transform 0.2s ease-in 0.2s;
}
.header {
  padding-top: 75px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/bg/header-bg-02.jpg");
  -moz-background-size: contain;
       background-size: contain;
  background-position: 0 0;
  background-repeat: repeat;
}
.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.fixed-menu.active {
  background-color: #e5e8e9;
}
.logo span {
  z-index: 2;
}
.logo-link .bottom-line {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.logo-link .bottom-line::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: var(--underline);
  z-index: -1;
}
.logo-link {
  color: #000000;
  font-size: 42px;
  font-weight: 900;
}
.header-navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 320px;
  background-color: #ffffff;
  z-index: 4;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .header-navigation {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    max-width: unset;
    background-color: transparent;
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.header-navigation.active {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
}
.header-nav__link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}
@media (min-width: 1200px) {
  .header-nav__link {
    display: inline-block;
  }
  .header-nav__link + .header-nav__link {
    margin-left: 80px;
  }
}
.mobile-contacts {
  display: block;
}
@media (min-width: 1200px) {
  .mobile-contacts {
    display: none;
  }
}
.socials {
  display: none;
}
@media (min-width: 1200px) {
  .socials {
    display: block;
  }
}
.git-header-link svg {
  width: 28px;
  height: 28px;
  fill: #181818;
  margin-right: 20px;
}
.git-header-link svg:hover {
  fill: #6cc644;
}
.in-header-link svg {
  margin-right: 20px;
  width: 28px;
  height: 28px;
  fill: #181818;
}
.in-header-link svg:hover {
  fill: #45668e;
}
.vk-header-link svg {
  width: 28px;
  height: 28px;
  fill: #181818;
}
.vk-header-link svg:hover {
  fill: #45668e;
}
.section-profile {
  margin-top: 295px;
}
.img-wrapper {
  position: relative;
  height: 410px;
  overflow: hidden;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.img-wrapper::after {
  content: "";
  display: block;
  width: 474px;
  height: 410px;
  top: 130px;
  left: 124px;
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f4f8f9), to(rgba(244, 248, 249, 0)));
  background-image: -webkit-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -moz-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -o-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.5;
  z-index: -1;
}
.profile-desc {
  width: 50%;
  text-align: left;
}
.profile-desc span {
  display: block;
  z-index: 2;
}
.profile-title {
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}
.profile-desc p {
  max-width: 490px;
  font-size: 24px;
  line-height: 1.5;
  text-shadow: 0 3px 42px #ffffff;
  color: #393f47;
  font-weight: 500;
  margin-bottom: 25px;
}
.profile-desc a {
  margin-right: 20px;
}
.section-bg {
  margin-top: -132px;
}
.section-bg__content img {
  margin-left: auto;
  margin-right: auto;
}
.section-skills {
  padding-top: 20px;
  padding-bottom: 238px;
}
.skills-list {
  max-width: 600px;
  margin-left: 48px;
}
.skills-list h2 {
  margin-bottom: 40px;
  text-shadow: 0 3px 42px #ffffff;
  color: #000000;
  font-size: 40px;
  font-weight: 800;
}
.skills-list ul {
  margin-bottom: 43px;
  list-style-type: none;
}
@media (min-width: 1200px) {
  .skills-list ul li:before {
    content: "—";
    position: relative;
    left: -5px;
  }
}
.skills-list__item {
  text-shadow: 0 3px 42px #ffffff;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
}
.skills-contacts {
  max-width: 350px;
  margin-right: 30px;
}
.skills-contacts h2 {
  margin-bottom: 45px;
  text-shadow: 0 3px 42px #ffffff;
  color: #000000;
  font-size: 40px;
  font-weight: 800;
}
.skills-contacts__links {
  width: 290px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
.skills-contacts__links a {
  color: #000000;
  margin-right: 30px;
}
.skills-contacts__links a:nth-child(3) {
  margin-right: 26px;
}
.skills-contacts__links a:last-child {
  margin-right: 0;
}
.git-contacts-link {
  width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.git-contacts-link:hover {
  color: #6cc644;
}
.tg-contacts-link {
  width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tg-contacts-link:hover {
  color: #039be5;
}
.vk-contacts-link {
  width: 48px;
  height: 47px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
.vk-contacts-link:hover {
  background-color: #4d76a1;
}
.vk-contacts-link i {
  color: #ffffff;
  font-size: 28px;
}
.wa-contacts-link {
  width: 52px;
  height: 52px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.wa-contacts-link:hover {
  background-color: #55cb60;
  color: #ffffff;
}
.section-portfolio {
  padding-top: 121px;
  padding-bottom: 128px;
  background-color: #f4f8f9;
}
.portfolio-title {
  margin-bottom: 66px;
  color: #000000;
  font-size: 64px;
  font-weight: 800;
}
.portfolio-title span {
  z-index: 2;
}
.portfolio-title .bottom-line::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: var(--underline);
  z-index: -1;
}
.section-portfolio__nav {
  margin-bottom: 50px;
}
.portfolio__nav-link {
  margin-right: 85px;
  color: #8fa5ae;
  font-size: 28px;
  font-weight: 800;
}
.portfolio__nav-link:active,
.portfolio__nav-link:hover {
  color: #ed574f;
}
.project-sample-large {
  min-width: 555px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.project-sample-large:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  -webkit-transform: translateY(-20px);
     -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
       -o-transform: translateY(-20px);
          transform: translateY(-20px);
  background-color: #f5f5f5;
}
.project-sample-large button {
  color: #ed574f;
  display: inline-block;
  font-style: var(--fr);
  height: 52px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 22px;
  line-height: 52px;
  background-color: #ffffff;
  -webkit-border-radius: 26px;
     -moz-border-radius: 26px;
          border-radius: 26px;
  font-weight: 800;
  -webkit-transform: translateY(600%);
     -moz-transform: translateY(600%);
      -ms-transform: translateY(600%);
       -o-transform: translateY(600%);
          transform: translateY(600%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.project-sample-large button:hover {
  color: #ffffff;
  background-color: #ea736d;
}
.project-sample-large button:active,
.project-sample-large button :visited {
  color: #ffffff;
  background-color: #d4423b;
}
.project-sample-large h3 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 32px;
  font-weight: 700;
}
.project-sample-large p {
  padding-left: 15px;
  color: #000000;
  font-size: 22px;
  font-weight: 300;
}
.project-sample-tiny {
  min-width: 360px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.project-sample-tiny:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  -webkit-transform: translateY(-20px);
     -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
       -o-transform: translateY(-20px);
          transform: translateY(-20px);
  background-color: #f5f5f5;
}
.project-sample-tiny button {
  color: #ed574f;
  display: inline-block;
  font-style: var(--fr);
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 19px;
  line-height: 35px;
  background-color: #ffffff;
  -webkit-border-radius: 26px;
     -moz-border-radius: 26px;
          border-radius: 26px;
  font-weight: 800;
  z-index: 2;
  -webkit-transform: translateY(600%);
     -moz-transform: translateY(600%);
      -ms-transform: translateY(600%);
       -o-transform: translateY(600%);
          transform: translateY(600%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.project-sample-tiny button:hover {
  color: #ffffff;
  background-color: #ea736d;
}
.project-sample-tiny button:active,
.project-sample-tiny button :visited {
  color: #ffffff;
  background-color: #d4423b;
}
.project-sample-tiny h3 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 26px;
  font-weight: 700;
}
.project-sample-tiny p {
  padding-left: 15px;
  color: #000000;
  font-size: 20px;
  font-weight: 300;
}
.sample-title-link {
  padding-left: 15px;
  color: #000000;
}
.sample-title-link:hover {
  color: #ed574f;
  text-decoration: underline;
}
.sample-link__forest {
  height: 370px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/project-samples-img/forest-travel.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
       background-size: cover;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
.sample-link__forest::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--btnBg);
  opacity: 0.85;
  z-index: -1;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.sample-link__forest:hover::before {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
}
.sample-link__forest:hover button {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
}
.sample-link__teta {
  height: 370px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/project-samples-img/teta-healing.jpeg");
  background-repeat: no-repeat;
  background-position: 15px;
  -moz-background-size: cover;
       background-size: cover;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
.sample-link__teta::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--btnBg);
  opacity: 0.85;
  z-index: -1;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.sample-link__teta:hover::before {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
}
.sample-link__teta:hover button {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
}
.sample-link__unit {
  height: 239px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/project-samples-img/unit.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
       background-size: cover;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
.sample-link__unit::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--btnBg);
  opacity: 0.85;
  z-index: -1;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.sample-link__unit:hover::before {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
}
.sample-link__unit:hover button {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
}
.sample-link__quantum {
  height: 239px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/project-samples-img/quantum.png");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
       background-size: cover;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
.sample-link__quantum::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--btnBg);
  opacity: 0.85;
  z-index: -1;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.sample-link__quantum:hover::before {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
}
.sample-link__quantum:hover button {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
}
.section-timeline {
  padding-top: 150px;
  padding-bottom: 150px;
}
.section-timeline .container {
  background-image: url("/img/bg/header-bg-02.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  -moz-background-size: cover;
       background-size: cover;
}
.timeline {
  width: 1005px;
  margin-left: auto;
  margin-right: auto;
}
.timeline-title {
  color: #000000;
  font-weight: 800;
  text-align: center;
  margin-bottom: 155px;
  font-size: 64px;
}
.timeline-title span {
  z-index: 2;
}
.timeline-title .bottom-line::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: var(--underline);
  z-index: -1;
}
.timeline-item {
  position: relative;
  min-height: 120px;
  padding-left: 100px;
  margin-bottom: 20px;
}
.timeline-item::after {
  content: "";
  width: 4px;
  background-color: #e1eef4;
  position: absolute;
  top: 94px;
  left: 37px;
  bottom: 0;
}
@media (min-width: 768px) {
  .timeline-item {
    width: 50%;
  }
  .timeline-item:nth-child(2n + 1) {
    text-align: right;
    padding-left: 0;
    padding-right: 100px;
  }
  .timeline-item:nth-child(2n + 1)::after {
    left: auto;
    right: 0;
  }
  .timeline-item:nth-child(2n) {
    margin-left: auto;
  }
  .timeline-item:nth-child(2n)::after {
    left: 0;
  }
  .timeline-item:nth-child(2n + 1) .timeline-icon {
    left: auto;
    right: -37px;
  }
  .timeline-item:nth-child(2n) .timeline-icon {
    left: -37px;
  }
}
.timeline-item:first-of-type:before {
  content: "";
  width: 4px;
  background-color: #e1eef4;
  position: absolute;
  top: -77px;
  right: 0;
  height: 57px;
  display: none;
}
@media (min-width: 768px) {
  .timeline-item:first-of-type:before {
    display: block;
  }
}
.timeline-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 74px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0 3px 35px rgba(0, 112, 187, 0.35);
          box-shadow: 0 3px 35px rgba(0, 112, 187, 0.35);
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  background-color: #ffffff;
}
.timeline-text p {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.timeline-text h3 {
  display: inline-block;
  color: #000000;
  font-size: 26px;
  font-weight: 800;
  z-index: 2;
}
.timeline-text .bottom-line::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: -5px;
  right: -5px;
  height: 7px;
  background-color: var(--underline);
  z-index: -1;
}
.section-contacts {
  padding-top: 161px;
  padding-bottom: 150px;
  background-color: #70aff6;
}
.section-contacts h3 {
  margin-bottom: 60px;
}
.contacts-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-content__wrapper {
  max-width: 500px;
  position: relative;
}
.contacts-content__wrapper::before {
  position: absolute;
  top: -32px;
  right: 403px;
  content: "";
  width: 448px;
  height: 280px;
  background-image: url("../img/bg/contacts-bg.png");
  background-repeat: no-repeat;
  -moz-background-size: cover;
       background-size: cover;
  background-position: center;
}
.contacts-desc {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 50px;
}
.contacts-list {
  margin-bottom: 50px;
}
.contacts-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.contacts-list__item span {
  margin-right: 100px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.contacts-list__item a {
  margin-right: 100px;
}
.contacts-list__item a:hover {
  text-shadow: #c2dbeb 0px 0px 1px;
  text-decoration: underline;
}
.contacts-list__item .link-email {
  text-decoration: none;
  color: #039be5;
  font-size: 20px;
  font-weight: 500;
}
.contacts-form__wrapper {
  min-width: 500px;
  padding: 60px 60px 40px 60px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 28px 100px #c2dbeb;
     -moz-box-shadow: 0 28px 100px #c2dbeb;
          box-shadow: 0 28px 100px #c2dbeb;
}
.contancts-form__item {
  position: relative;
}
.fake-placeholder {
  position: absolute;
  top: -20px;
  left: 5px;
  color: transparent;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.fake-placeholder.active {
  color: #ed9626;
}
.contancts-form__item textarea {
  height: 100px;
  resize: none;
}
.form__field {
  width: 100%;
  margin-bottom: 40px;
  height: 50px;
  font-family: var(--fr);
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  border: none;
  border-bottom: 2px solid #eaeaea;
  outline: none;
  padding-left: 5px;
}
.form__field::-webkit-input-placeholder {
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  transition: 0.7s ease;
}
.form__field:-moz-placeholder {
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  transition: 0.7s ease;
}
.form__field::-moz-placeholder {
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  transition: 0.7s ease;
}
.form__field:-ms-input-placeholder {
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  transition: 0.7s ease;
}
.form__field::-ms-input-placeholder {
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  transition: 0.7s ease;
}
.form__field::placeholder {
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  transition: 0.7s ease;
}
.form__field:focus::-webkit-input-placeholder {
  color: transparent;
}
.form__field:focus:-moz-placeholder {
  color: transparent;
}
.form__field:focus::-moz-placeholder {
  color: transparent;
}
.form__field:focus:-ms-input-placeholder {
  color: transparent;
}
.form__field:focus::-ms-input-placeholder {
  color: transparent;
}
.form__field:focus::placeholder {
  color: transparent;
}
.footer {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #333333;
  color: #ffffff;
}
.footer-desc {
  max-width: 710px;
}
.footer-desc h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer-desc p,
a {
  color: #b0b0b0;
  font-size: 16px;
  font-weight: 400;
}
.footer-desc p:hover a,
a:hover a {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */