.header {
  padding-top: 75px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/img/bg/header-bg-02.jpg");
  background-size: contain;
  background-position: 0 0;
  background-repeat: repeat;
}

.logo span {
  z-index: 2;
  .bottom-line {
    position: relative;
    width: fit-content;
    &::after {
      content: "";
      position: absolute;
      bottom: 8px;
      left: -5px;
      right: -5px;
      height: 12px;
      background-color: var(--underline);
      z-index: 1;
    }
  }
}
.logo-link {
  font-size: 42px;
  font-weight: 900;
}
.navigation {
}
.nav-link {
  font-size: 20px;
  margin-right: 80px;
  &:last-child {
    margin-right: 0;
  }
}
.socials {
  
}


