.section-profile {
  padding-top: 180px;
}
.row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 576px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
  }
  @media (min-width: 1200px) {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}
.img-wrapper img {
  height: 425px;
  border-radius: 20px;
}
.profile-desc {
  width: 50%;
  text-align: left;
}
.profile-title {
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}
.profile-title span {
}
.profile-desc p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 25px;
}
.profile-desc a {
  margin-right: 20px;
}
